body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  width: 98%;
  height: 80px;
  border: 1px solid #000;
  margin: auto;
}

main {
  width: 98%;
  height: 2000px;
  border: 1px solid #000;
  margin: auto;
}

footer {
  width: 98%;
  height: 390px;
  border: 1px solid #000;
  margin: auto;
}